body {
    font-family: 'Lato', sans-serif;
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;
}

.readme-wrapper {
    border: none;
}

.hyperlink {
    text-decoration: none ;
    color: rgb(206, 24, 24);
}

.boxes {
    margin: 2em auto;
    padding: 1em;
    width: 30em;
    border: 2px solid black;
    border-radius: 5px;
}